.pun__title {
  font-weight: 300;
  font-size: 36px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  text-align: left;
  padding: 24px;
  margin: auto 24px;
  background-color: beige;
  border-radius: 16px;
  border: 4px solid transparent;
}

.form__input {
  appearance: none;
  width: 85vw;
  border: 1px solid rgba(128, 128, 128, 0.26);
  border-bottom-color: rgba(34, 33, 33, 0.945);
  border-radius: 0;
  display: block;
  line-height: 1;
  margin: 24px;
  padding: 16px;
}

.form__input--half {
  width: 40vw;
  margin: 16px 16px;
}