.puns-list__table {
  margin: 50px;
  border: 1px solid #2C3845;
}

.puns-list__row {
  padding-bottom: 10px;
  border: 1px solid #2C3845;
}

.puns-list__data {
  padding: 10px;
  text-align: center;
  background-color: #2c384533; 
}

.puns-list__head {
  text-align: left;
  font-weight: 700;
  background-color: #2C3845;
  border: 1px solid #2C3845;
  color: white;
}

.puns-list__head th {
  padding: 8px;
}

.puns-list__row:nth-child(even) td {
  background-color: #2c384586; 
}
