.puns-list__title {
  font-size: 36px;
  font-weight: 300;
}
.puns-list__table {
  margin: 50px;
}

.puns-list__row {
  padding-bottom: 10px;
}

.puns-list__data {
  padding: 10px;
  text-align: center;
  background-color: #2c384533;
}

.puns-list__head {
  text-align: left;
  font-weight: 700;
  background-color: #2c3845;
  color: white;
}

.puns-list__head,
.puns-list__row,
.puns-list__table {
  border: 1px solid #2c3845;
}

.puns-list__head th {
  padding: 8px;
}

.puns-list__row:nth-child(even) td {
  background-color: #2c384586;
}
